<div  id="rower-container">
  <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="space-around stretch">
      <mat-form-field>
        <mat-label>Entrainement</mat-label>
        <mat-select [formControl]="trainingCtrl">
          <mat-option *ngFor="let training of rowerTrainings; let index = index" [value]="index">
            {{training?.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    @if(isTrainingStarted) {
      <button mat-raised-button color="accent" (click)="stop()">{{stopTextButton}}</button>
      <app-step id="current-step" *ngIf="currentTraining && currentStage" [stage]="currentStage" [stages]="currentTraining.stages.length" [minutes$]="minutes$" [seconds$]="seconds$"></app-step>

    } @else {
      <button mat-raised-button color="primary" (click)="startTraining()">{{ startTextButton}}</button>
    }


    @if(isTrainingStarted) {
      <app-remaining-steps [allSteps]="currentTraining?.stages!!" [currentOrder]="currentStage?.order!!"></app-remaining-steps>
    }
  </div>
</div>
